@page "/"
@using Microsoft.AspNetCore.Components
@using OrderManagement.Data.Entities

<h1 class="page-heading">Добро пожаловать в наш магазин!</h1>
<p class="page-description">Перейдите к категориям товаров, чтобы начать покупки.</p>

<a href="/categories" class="hero-button">Перейти к категориям</a>
